@model IEnumerable<IJPMvcApp.Models.AspNetUserRole>
<div class="container">
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
        <a asp-action="CreateUserRole" class="btn btn-primary">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td>
                @Html.ActionLink("IndexRoles", "IndexRoles", new { id = item.RoleId }, new { @class = "btn btn-primary" }) 
                @Html.ActionLink("DeleteUserRole", "DeleteUserRole", new { id = item.UserId, role = item.RoleId }, new { @class = "btn btn-primary" }) 
            </td>
        </tr>
}
    </tbody>
</table>
    <div>
        <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-primary" style="margin-top:15px; margin-bottom:15px;">Back to List</a>
    </div>
</div>