@model IEnumerable<IJPMvcApp.Models.AspNetRole>
<div class="container">
@{
    ViewData["Title"] = "IndexRoles";
}

<h1>IndexRoles</h1>

<p>
    <a asp-action="CreateRole" class="btn btn-primary">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                        @Html.ActionLink("Edit", "EditRole", new { id = item.Id,Role=item.Name }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Details", "RoleDetails", new { id = item.Id }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("DeleteRole", "DeleteRole", new { id = item.Id }, new { @class = "btn btn-primary" })
                    </td>
        </tr>
}
    </tbody>
</table>
    <div>
        <a  asp-controller="Access" asp-action="Index" class="btn btn-primary" style="margin-top:15px; margin-bottom:15px;">Back to List</a>
    </div>
</div>